In [1]:
#with open("Untitled Folder/file_0.xml", encoding="utf8") as file:

import xml.etree.cElementTree as et
import pandas as pd

In [2]:
path = 'Untitled Folder/file_0.xml'
dfcols = ['Id', 'PostHistoryTypeId', 'PostId', 'RevisionGUID', 'CreationDate', 'UserId', 'Text']

In [3]:
root = et.parse(path)
rows = root.findall('.//row')

# NESTED LIST
xml_data = [[row.get('Id'), row.get('PostHistoryTypeId'), row.get('PostId'), row.get('RevisionGUID'), row.get('CreationDate'), row.get('UserId'), row.get('Text')] 
            for row in rows]

df_xml = pd.DataFrame(xml_data, columns=dfcols)

df_xml.head()

,Id,PostHistoryTypeId,PostId,RevisionGUID,CreationDate,UserId,Text
0,6,2,7,c30df0f4-a2d9-426e-a2dd-2cc3aa4d9205,2008-07-31T22:17:57.883,9,The explicit cast to double in the first answe...
1,12,1,17,0421fb42-a29a-4cb2-84ba-a828725410f8,2008-08-01T05:09:55.993,2,Binary Data in MYSQL
2,13,3,17,0421fb42-a29a-4cb2-84ba-a828725410f8,2008-08-01T05:09:55.993,2,<database><mysql>
3,14,2,17,0421fb42-a29a-4cb2-84ba-a828725410f8,2008-08-01T05:09:55.993,2,How do I store binary data in mysql?
4,16,2,18,0cfdfa19-039f-4645-8a48-1c316543b98f,2008-08-01T05:12:44.193,None,For a table like this:\r\n\r\n CREATE TABLE...